@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Anton', sans-serif;
}

#cardsection{
	background: url(img/intersection.png);
}

#accordion{
	background:url(img/intersection.png);
}

.jumbotron{
	min-height:500px;
	background:url(img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.jumbotron h2{
	color: #ffffff;
	font-size: 3em
}

.jumbotron p{
	color: #FFFFFF;
	font-size:2em;
}